<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>

    <!-- Footer -->
    <footer id="footer2">
        <div class="container">
            <div class="row text-center text-xs-center text-sm-center text-md-center">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h4>General</h4>
                    <ul class="list-unstyled quick-links">
                        <li><a href=""><i class="fa fa-angle-double-right"></i>@Html.ActionLink("Home", "index", "home")</a></li>
                        <li><a href=""><i class="fa fa-angle-double-right"></i>@Html.ActionLink("Videos", "video", "home")</a></li>
                        <li><a href=""><i class="fa fa-angle-double-right"></i>@Html.ActionLink("Articles", "Articles", "home")</a></li>
                    </ul>
                    </div>

                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <canvas id="myCanvas" width="330" height="100" style="border:3px solid #000000;">
                            Your browser does not support the HTML canvas tag.
                        </canvas>

                        <script>
                            var c = document.getElementById("myCanvas");
                            var ctx = c.getContext("2d");

                            // Create gradient
                            var grd = ctx.createLinearGradient(50, 0, 200, 0);
                            grd.addColorStop(0, "MediumPurple");

                            // Fill with gradient
                            ctx.fillStyle = grd;
                            ctx.fillRect(0, 0, 450, 330);
                            ctx.font = "20px Arial";
                            ctx.strokeText("GOOG LUCK FROM JOB APP :)", 20, 50);
                        </script>
                    </div>

                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h4>Account</h4>
                    <ul class="list-unstyled quick-links">
                        <li><a href="https://twitter.com/JobApp6"><i class="fa fa-angle-double-right"></i>Twitter page</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                    <ul class="list-unstyled list-inline social text-center">
                        <li class="list-inline-item"><a href="https://twitter.com/JobApp6"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><img id="myImg" src="~/images/pic.jpg" alt="picture"></li>
                        <li class="list-inline-item"><a href="mailto: jobappproj2020@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
                <hr>
            </div>
        </div>
    </footer>
    <!-- ./Footer -->
</body>
</html>
