@model IEnumerable<JobApp.Models.SkillListView>

@{
    ViewData["Title"] = "Skills List";
    Layout = LayoutDecision.LocateLayout(User);
}


<h1>Skills</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="content2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Skills</h4>
                        <p class="card-category"> All skills information</p>
                    </div>
                    <div class="card-header card-header-primary">
                        <div class="form-group">
                            <label class="control-label">Search:</label>
                            <input id="searchInput" class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SkillJobsNum)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="skillTable">
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SkillJobsNum)
                                            </td>
                                            <td>
                                                <a asp-action="Details" asp-route-id="@item.Name">Details</a> |
                                                <a asp-action="Delete" asp-route-id="@item.Name">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#searchInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#skillTable tr").filter(function () {
                $(this).toggle($(this).find('td:not(:last-child)').text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
