@{
    ViewData["Title"] = "JobApp";
    Layout = LayoutDecision.LocateLayout(User);
    List<Publisher> topPublishers = (List<Publisher>)ViewData["TopPublishers"];
    List<Seeker> topSeekers = (List<Seeker>)ViewData["TopSeekers"];
}

    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">assignment_ind</i>
                            </div>
                            <p class="card-category">Publishers</p>
                            <h3 class="card-title">
                                @ViewData["PublishersCount"]
                            </h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">update</i> Just Updated
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-danger card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">publish</i>
                            </div>
                            <p class="card-category">Published Jobs</p>
                            <h3 class="card-title">@ViewData["PublishedJobsCount"]</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">date_range</i> Last 24 Hours
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="fa fa-search"></i>
                            </div>
                            <p class="card-category">Seekers</p>
                            <h3 class="card-title">@ViewData["SeekersCount"]</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">update</i> Just Updated
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">content_copy</i>
                            </div>
                            <p class="card-category">Applied CV's</p>
                            <h3 class="card-title">@ViewData["AppliedCvCount"]</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">date_range</i> Last 24 Hours
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-warning">
                            <h4 class="card-title">Publishers Stats</h4>
                            <p class="card-category">Top Publishers</p>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-hover">
                                <thead class="text-warning">
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Published Jobs</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var publisher in topPublishers)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => publisher.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => publisher.Email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => publisher.PostedJobs.Count)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="card">
                        <div class="card-header card-header-warning">
                            <h4 class="card-title">Seekers Stats</h4>
                            <p class="card-category">Top Seekers</p>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-hover">
                                <thead class="text-warning">
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Applied Cv's</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var seeker in topSeekers)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => seeker.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => seeker.Email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => seeker.SeekerJobs.Count)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
