@using System.Security.Claims;

@model IEnumerable<JobApp.Models.Admin>

@{
    ViewData["Title"] = "Admins List";
    Layout = LayoutDecision.LocateLayout(User);

    var identity = (ClaimsIdentity)User.Identity;
    IEnumerable<Claim> claims = identity.Claims;
    Claim idClaim = claims.Where(claim => claim.Type == "Id").First();
}

<h1>Admins</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="content2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Admins</h4>
                        <p class="card-category"> all admins information</p>
                    </div>
                    <div class="card-header card-header-primary">
                        <form asp-action="Search">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label class="control-label">Search By Name:</label>
                                <input name="name" class="form-control" />
                                <span class="text-danger"></span>
                            </div>
                            <div class="form-group" style="top:auto">
                                <label class="control-label">Search By Email:</label>
                                <input name="email" class="form-control" />
                                <span class="text-danger"></span>
                            </div>
                            <input type="submit" value="Search" class="btn btn-primary" />
                        </form>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Email)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PhoneNum)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PhoneNum)
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                                <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                                                @if (item.ID.ToString() != idClaim.Value)
                                                {
                                                    @Html.Raw(" | ")
                                                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section style{
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
}