@model IEnumerable<JobApp.Models.City>

@{
    ViewData["Title"] = "City List";
    ViewData["Model"] = "Cities";

}

<h1>Cities</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="content2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Cities</h4>
                        <p class="card-category"> All cities information</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.RegionName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CityJobs)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RegionName)
                                            </td>
                                            <td>
                                                @if (item.CityJobs != null)
                                                {
                                                    @Html.DropDownListFor(modelItem => item.CityJobs, new SelectList(item.CityJobs, "CityName", "CityName"))
                                                }
                                            </td>
                                         
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>