@model IEnumerable<JobApp.Models.Publisher>

@{
    ViewData["Title"] = "Publisher List";
    ViewData["Model"] = "Publishers";
    Layout = LayoutDecision.LocateLayout(User);
}

<h1>Publishers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="content2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Publishers</h4>
                        <p class="card-category"> all publishers information</p>
                    </div>
                    <div class="card-header card-header-primary">
                        <form asp-action="Search" id="myForm">
                            <div class="text-danger"></div>
                            <input type="hidden" />
                            <div class="form-group">
                                <label class="control-label">Search By Name:</label>
                                <input id="searchName" name="name" class="form-control" />
                                <span class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Search By Email:</label>
                                <input id="searchEmail" name="email" class="form-control" />
                                <span class="text-danger"></span>
                            </div>
                        </form>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Email)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PhoneNum)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PhoneNum)
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                                                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/core/jquery.min.js"></script>

<script>
    function delay(callback, ms) {
        var timer = 0;
        return function () {
            var context = this, args = arguments;
            clearTimeout(timer);
            timer = setTimeout(function () {
                callback.apply(context, args);
            }, ms || 0);
        };
    }


    // Example usage:

    $('#searchName,#searchEmail').keyup(delay(function (e) {
        console.log('Time elapsed!', this.value);

        let form = $('#myForm');
        let url = form.attr('action');
        let jsonForm = form.serializeArray();


        $.ajax(
            {
                url: url,
                data: form.serialize(),
                success: (data) => {
                    var newDoc = document.open("text/html", "replace");
                    newDoc.write(data);
                    newDoc.close();
                    let newForm = $('#myForm');
                    function populate(frm, data) {
                        $.each(data, function (key, value) {
                            $('[name=' + key + ']', frm).val(value);
                        });
                    }
                    populate('#myForm', objectifyForm(jsonForm));

                }
            });
    }, 750));


    function objectifyForm(formArray) {
        //serialize data function
        var returnArray = {};
        for (var i = 0; i < formArray.length; i++) {
            returnArray[formArray[i]['name']] = formArray[i]['value'];
        }
        return returnArray;
    }
</script>