@model IEnumerable<JobApp.Models.Publisher>

@{
    ViewData["Title"] = "Publisher List";
    ViewData["Model"] = "Publishers";

}

<h1>Publishers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="content2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Publishers</h4>
                        <p class="card-category"> all publishers information</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Email)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PhoneNum)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Password)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PhoneNum)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Password)
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                                                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>