@model IEnumerable<JobApp.Models.Job>

@{
    ViewData["Title"] = "Index";
    Layout = LayoutDecision.LocateLayout(User);
}

<h1>Jobs</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="content2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Jobs</h4>
                        <p class="card-category"> All jobs information</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Title)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Description)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.JobSkills)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.JobSeekers)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Publisher.Name)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @foreach (var skill in item.JobSkills)
                                            {
                                                <div>
                                                    @Html.DisplayFor(modelItem => skill.SkillName)
                                                </div>
                                            }
                                        </td>
                                        <td>
                                            @if (item.JobSeekers != null)
                                            {
                                                @foreach (var jobSeeker in item.JobSeekers)
                                                {
                                                    <div>
                                                        @Html.DisplayFor(modelItem => jobSeeker.SeekerID)
                                                    </div>
                                                }
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Publisher.Name)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                                            <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                                            <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>