@model IEnumerable<JobApp.Models.Job>

@{
    ViewData["Title"] = "Index";
    Layout = LayoutDecision.LocateLayout(User);

    List<Job> appliedJobs = (List<Job>)ViewData["AppliedJobs"];
    Seeker seeker = (Seeker)ViewData["Seeker"];
}

<h1>My Job Suggestions</h1>

<hr />

<h1>My Applied Jobs</h1>

<div class="content2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Jobs</h4>
                        <p class="card-category"> All jobs information</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Title)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Description)
                                        </th>
                                        <th>
                                            @Html.DisplayName("Required Skills")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Cities")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Publisher")
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in appliedJobs)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @foreach (var skill in item.JobSkills)
                                            {
                                                <div>
                                                    @Html.DisplayFor(modelItem => skill.SkillName)
                                                </div>
                                            }
                                        </td>
                                        <td>
                                            @foreach (var city in item.JobCities)
                                            {
                                                <div>
                                                    @Html.DisplayFor(modelItem => city.CityName)
                                                </div>
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Publisher.Name)
                                        </td>
                                        <td>
                                            @Html.Raw(item.JobSeekers.Where(jobSeeker => jobSeeker.SeekerID == seeker.ID).First().SubmitDate)
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
