@model IEnumerable<JobApp.Models.Job>

@{
    ViewData["Title"] = "My Jobs Suggestions";
    Layout = LayoutDecision.LocateLayout(User);

    List<Job> appliedJobs = (List<Job>)ViewData["AppliedJobs"];
    Seeker seeker = (Seeker)ViewData["Seeker"];
}

<h1>My Job Suggestions</h1>

@if (seeker.CV == null)
{
    <aside style="width: 33%; padding-left: 15px; font-style: italic;">
        <h3>Please upload CV file to apply for jobs</h3>
    </aside>
}

<div class="content2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Jobs</h4>
                        <p class="card-category"> All suggested jobs information</p>
                    </div>
                    <div class="card-header card-header-primary">
                        <form asp-action="Search">
                            <div class="search-flex">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label class="control-label">Search By Skill:</label>
                                    <input name="skill" class="form-control" value="@(ViewData["SearchSkill"])" />
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group" style="top:auto">
                                    <label class="control-label">Search By City:</label>
                                    <input name="city" class="form-control" value="@(ViewData["SearchCity"])" />
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group" style="top:auto">
                                    <label class="control-label">Search By Start Date:</label>
                                    <input  type="text" id="datepickerFromDate" name="fromDate" class="form-control" value="@(ViewData["SearchFromDate"])" />
                                    <span class="text-danger"></span>
                                </div>
                                <div class="form-group" style="top:auto">
                                    <label class="control-label">Search By End Date:</label>
                                    <input type="text" id="datepickerToDate" name="toDate" class="form-control" value="@(ViewData["SearchToDate"])" />
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                            <input type="submit" value="Search" class="btn btn-primary" />
                        </form>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Title)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Description)
                                        </th>
                                        <th>
                                            @Html.DisplayName("Required Skills")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Cities")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Publisher")
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.LastEdited)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Title)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </td>
                                            <td>
                                                @foreach (var skill in item.JobSkills)
                                                {
                                                    <div>
                                                        @Html.DisplayFor(modelItem => skill.SkillName)
                                                    </div>
                                                }
                                            </td>
                                            <td>
                                                @foreach (var city in item.JobCities)
                                                {
                                                    <div>
                                                        @Html.DisplayFor(modelItem => city.CityName)
                                                    </div>
                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Publisher.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LastEdited)
                                            </td>
                                            <td>
                                                @{
                                                    bool applied = item.JobSeekers.Where(jobSeeker => jobSeeker.SeekerID == seeker.ID).ToList().Count() > 0;
                                                    if (seeker.CV != null && !applied)
                                                    {
                                                        <a asp-action="ApplyCV" asp-route-id="@item.ID">Apply CV</a>
                                                    }
                                                    else
                                                    {
                                                        @if (applied)
                                                        {
                                                            @Html.Raw("Already applied")
                                                        }
                                                        else
                                                        {
                                                            @Html.Raw("Can't apply")
                                                        }
                                                    }
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr />

<h1>My Applied Jobs</h1>

<div class="content2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Jobs</h4>
                        <p class="card-category"> All applied jobs information</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Title)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Description)
                                        </th>
                                        <th>
                                            @Html.DisplayName("Required Skills")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Cities")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Publisher")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Applied on")
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in appliedJobs)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Title)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </td>
                                            <td>
                                                @foreach (var skill in item.JobSkills)
                                                {
                                                    <div>
                                                        @Html.DisplayFor(modelItem => skill.SkillName)
                                                    </div>
                                                }
                                            </td>
                                            <td>
                                                @foreach (var city in item.JobCities)
                                                {
                                                    <div>
                                                        @Html.DisplayFor(modelItem => city.CityName)
                                                    </div>
                                                }
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Publisher.Name)
                                            </td>
                                            <td>
                                                @Html.Raw(item.JobSeekers.Where(js => js.SeekerID == seeker.ID && js.JobID == item.ID).First().SubmitDate)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .form-group {
        padding-right: 25px;
    }
</style>

@section Scripts {
<script>
    $(document).ready(function () {
        console.log("ready!");
        $("#datepickerFromDate").datepicker();
        $("#datepickerToDate").datepicker();
    });
</script>
}
